<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<context:component-scan base-package="com.ch.zn.wzl.demo.reids">
	</context:component-scan>

	<!-- 基础池 -->
	<bean id="GenericObjectPoolConfig" class="org.apache.commons.pool2.impl.GenericObjectPoolConfig">
		<property name="maxIdle" value="60000" />
		<property name="testOnBorrow" value="true" />
	</bean>

	<!-- redis 池 -->
	<bean id="pool0" class="redis.clients.jedis.ShardedJedisPool">
		<constructor-arg index="0" ref="GenericObjectPoolConfig" />
		<constructor-arg index="1">
			<list>
				<!-- <value>http://:battest@121.43.160.149:6380/0</value> -->
				<value>http://127.0.0.1:6379/0</value>
			</list>
		</constructor-arg>
	</bean>


	<!-- 客户端 -->
	<bean class="com.ch.zn.wzl.demo.reids.client.sharded.ShardedRedisClient">
		<property name="poolsMap">
			<map>
				<entry key="0" value-ref="pool0"></entry>
			</map>
		</property>
	</bean>

	<bean class="com.ch.zn.wzl.demo.reids.operation.helper.DefaultRedisCommand">
		<property name="proxyRedisCommand" ref="proxyRedisCommand"></property>
	</bean>

	<!-- 客戶端代理 -->
	<bean id="proxyRedisCommand"
		class="com.ch.zn.wzl.demo.reids.operation.helper.ShardedProxyRedisCommand" />

	<!-- 序列化 -->
	<bean id="FastJsonSerialization"
		class="com.ch.zn.wzl.demo.reids.cache.serialization.impl.FastJsonSerialization" />

	<!-- 缓存策略 -->
	<bean id="DefaulCacheStrategy"
		class="com.ch.zn.wzl.demo.reids.cache.strategy.impl.DefaulCacheStrategy">
		<property name="proxyRedisCommand" ref="proxyRedisCommand" />
		<property name="keySerialization" ref="FastJsonSerialization" />
		<property name="valSerialization" ref="FastJsonSerialization" />
		<property name="defaultCacheTime" value="500"></property>
	</bean>

	<!-- 缓存策略 -->
	<bean id="ListCacheStrategy"
		class="com.ch.zn.wzl.demo.reids.cache.strategy.impl.ListCacheStrategy">
		<property name="proxyRedisCommand" ref="proxyRedisCommand" />
		<property name="keySerialization" ref="FastJsonSerialization" />
		<property name="valSerialization" ref="FastJsonSerialization" />
		<property name="defaultCacheTime" value="500"></property>
	</bean>

	<!-- 缓存代理 -->
	<bean class="com.ch.zn.wzl.demo.reids.cache.proxy.MethodsMapCacheRedisProxy">
		<property name="cacheStrategyMap">
			<map key-type="java.lang.String"
				value-type="com.ch.zn.wzl.demo.reids.cache.strategy.CacheStrategy">
				<entry key="DefaulCacheStrategy" value-ref="DefaulCacheStrategy"></entry>
				<entry key="ListCacheStrategy" value-ref="ListCacheStrategy"></entry>
			</map>
		</property>
	</bean>


	<aop:aspectj-autoproxy proxy-target-class="true" />

</beans>
