<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zh.cn.wzl.demo.business.dao.ImUserMapper" >
  <resultMap id="BaseResultMap" type="com.zh.cn.wzl.demo.business.entity.ImUser" >
    <id column="ImUser_id" property="id" jdbcType="INTEGER" />
    <result column="ImUser_syskey" property="syskey" jdbcType="VARCHAR" />
    <result column="ImUser_uid" property="uid" jdbcType="VARCHAR" />
    <result column="ImUser_imuid" property="imuid" jdbcType="VARCHAR" />
    <result column="ImUser_impwd" property="impwd" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ImUser.id as ImUser_id, ImUser.syskey as ImUser_syskey, ImUser.uid as ImUser_uid, 
    ImUser.imuid as ImUser_imuid, ImUser.impwd as ImUser_impwd
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from im_user ImUser
    where ImUser.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from im_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zh.cn.wzl.demo.business.entity.ImUser" >
    insert into im_user (id, syskey, uid, 
      imuid, impwd)
    values (#{id,jdbcType=INTEGER}, #{syskey,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, 
      #{imuid,jdbcType=VARCHAR}, #{impwd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zh.cn.wzl.demo.business.entity.ImUser" >
    insert into im_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="syskey != null" >
        syskey,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="imuid != null" >
        imuid,
      </if>
      <if test="impwd != null" >
        impwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="syskey != null" >
        #{syskey,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="imuid != null" >
        #{imuid,jdbcType=VARCHAR},
      </if>
      <if test="impwd != null" >
        #{impwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zh.cn.wzl.demo.business.entity.ImUser" >
    update im_user
    <set >
      <if test="syskey != null" >
        syskey = #{syskey,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="imuid != null" >
        imuid = #{imuid,jdbcType=VARCHAR},
      </if>
      <if test="impwd != null" >
        impwd = #{impwd,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zh.cn.wzl.demo.business.entity.ImUser" >
    update im_user
    set syskey = #{syskey,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR},
      imuid = #{imuid,jdbcType=VARCHAR},
      impwd = #{impwd,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>